<!-- edit_profile.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
    <!-- Add your CSS link here -->
</head>
<body>
    <h1>Edit Profile</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save Changes">
    </form>
</body>
</html>
