<!DOCTYPE html>
<html>
<head>
    <title>Mentor Login</title>
    <!-- Add your CSS link here -->
</head>
<body>
    <h1>Mentor Login</h1>
    <!-- Form for mentor login -->
        <form method="post" action="{% url 'Mentor:login' %}"> 
        {% csrf_token %}
        
        <!-- Username or Mobile -->
        <label for="username_mobile">Username/Mobile:</label><br>
        <input type="text" id="username_mobile" name="username_mobile" required><br><br>
        
        <!-- Password -->
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
        <!-- Submit Button -->
        <input type="submit" value="Login">
    </form>
</body>
</html>
 