<!DOCTYPE html>
<html>
<head>
    <title>Mentor Dashboard</title>
    <!-- Add your CSS link here -->
</head>
<body>
    <h1>Welcome to Mentor Dashboard</h1>
    <div>
        <p>Click on the buttons below to navigate:</p>
        <a href="{% url 'Mentor:user-details' %}">
            <button>Mentor Details</button>
        </a>
        <a href="{% url 'Mentor:edit-profile' %}">
            <button>Edit Mentor Profile</button>
        </a>
        <a href="{% url 'Student:view_mentor_videos' %}">
            <button>View Uploaded Mentor Videos</button>
        </a>
        <a href="{% url 'Mentor:upload_video' %}">
            <button>Upload Video</button>
        </a>
        <!-- Add other buttons and their corresponding URLs -->
    </div>
</body>
</html>
