<!DOCTYPE html>
<html>
<head>
    <title>Mentor Registration</title>
    <!-- Add your CSS link here -->
</head>
<body>
    <h1>Mentor Registration</h1>
    <!-- Form for mentor registration -->
   
    <form method="post" action="{% url 'Mentor:mentor-registration' %}"> 
    
        {% csrf_token %}
        
        <!-- Username -->
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        
        <!-- Mobile -->
        <label for="mobile">Mobile (Unique):</label><br>
        <input type="text" id="mobile" name="mobile" required><br><br>
        
        <!-- Full Name -->
        <label for="full_name">Full Name:</label><br>
        <input type="text" id="full_name" name="full_name" required><br><br>
        
        <!-- Email -->
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        
        <!-- Password -->
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
        <!-- Gender -->
        <label for="gender">Gender:</label><br>
        <select id="gender" name="gender" required>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
        </select><br><br>
        
        <!-- Address -->
        <label for="address">Address:</label><br>
        <textarea id="address" name="address" required></textarea><br><br>
        
        <!-- Aadhar -->
        <label for="aadhar">Aadhar:</label><br>
        <input type="text" id="aadhar" name="aadhar" required><br><br>
        
        <!-- Pic -->
        <label for="pic">Profile Picture:</label><br>
        <input type="file" id="pic" name="pic" accept="image/*" required><br><br>
        
        <!-- Class -->
        <label for="class_field">Class:</label><br>
        <input type="text" id="class_field" name="class_field" required><br><br>
        
        <!-- Section -->
        <label for="section">Section:</label><br>
        <input type="text" id="section" name="section" required><br><br>
        
        <!-- Submit Button -->
        <input type="submit" value="Register">
    </form>

    

</body>
</html>
