<!DOCTYPE html>
<html>
<head>
    <title>User Details</title>
    <!-- Add your CSS link here -->
</head>
<body>
    <h1>User Details</h1>
    <div>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Mobile (Unique):</strong> {{ user.mobile }}</p>
        <p><strong>Full Name:</strong> {{ user.full_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Password:</strong> {{ user.password }}</p>
        <p><strong>Gender:</strong> {{ user.gender }}</p>
        <p><strong>Address:</strong> {{ user.address }}</p>
        <p><strong>Aadhar:</strong> {{ user.aadhar }}</p>
        <!-- Displaying the image (change this according to your image field) -->
        <p><strong>Profile Picture:</strong><br>
            <img src="{{ user.pic.url }}" alt="Profile Picture" height="150" width="150">
        </p>
        <p><strong>Class:</strong> {{ user.class_field }}</p>
        <p><strong>Section:</strong> {{ user.section }}</p>
        <!-- Add other user details you want to display -->
    </div>
</body>
</html>
