<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
    <!-- Add your CSS link here -->
</head>
<body>
    <h1>Welcome to Student Dashboard</h1>
    <div>
        <p>Click on the buttons below to navigate:</p>
        <a href="{% url 'Student:user-details' %}">
            <button>Student Details</button>
        </a>
        <a href="{% url 'Student:edit-student-profile' %}">
            <button>Edit Student Profile</button>
        </a>
        <a href="{% url 'Mentor:view_videos' %}">
            <button>View Mentor Videos</button>
        </a>
        <!-- Add other buttons and their corresponding URLs -->
    </div>
</body>
</html>
