<!DOCTYPE html>
<html>
<head>
    <title>Mentor's Uploaded Videos</title>
</head>
<body>
    <h1>Mentor's Uploaded Videos</h1>
    {% if videos %}
        <ul>
            {% for video in videos %}
                <li>
                    <strong>{{ video.title }}</strong><br>
                    <video width="320" height="240" controls>
                        <source src="{{ video.video_file.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No mentor videos uploaded yet.</p>
    {% endif %}
</body>
</html>
